{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Kamea's Guide to the Presidents of the United States</h1>

 <h3>Choose a president to learn more about them</h3>
{% for p in pres %}

 <div class="card"  style="width: 18rem;">
   <img src="{{ p.image.url }}" class="card-img-top" width="100" height="300" alt="...">
   <div class="card-body">
     <h5 class="card-title">{{ p.name }}</h5>
     <p class="card-text"></p>
     
     <a href="{% url 'president' p.id %}" class="btn btn-primary">Learn More!</a>
  
   </div>
 </div>

{% endfor %}






{% endblock %} 

